body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;

}


.header{
    
    width: 100%;
    font-size: 56px;
    font-weight: 700;
    font-family: "Roboto";
    color: #75b79e;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   
}

.header h1{
    margin: 0 auto;
}


.card{
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    margin-left: 34px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    margin: 0 auto;
}

.card img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}