body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;

}


.header{
    
    width: 100%;
    font-size: 56px;
    font-weight: 700;
    font-family: "Roboto";
    color: #75b79e;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   
}

.header h1{
    margin: 0 auto;
}


.card{
    width: 117px;
    height: 146px;
    
    margin-left: 34px;
    position: relative;
    border-radius: 5px;
    
    margin: 0 auto;
}

.card img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

.back-face {
    transform: rotateY(180deg);
  }

.card:hover .back-face {
    transform: rotateY(0deg);
  }

.card:hover .front-face {
    transform: rotateY(-180deg);
  }  